services:
  uptime-kuma:
    container_name: uptime-kuma
    image: louislam/uptime-kuma:nightly2
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "3001:3001"
